@using CvSitesi.Models
@model List<Admin>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="">
    <h1 class="display-1 text-center">Admin</h1>
</div>
<br>

<a href="/Admin/YeniAdmin/" class="btn btn-warning">Yeni Admin Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th class="hidden">Id</th>
        <th>Eposta</th>
        <th>Şifre</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>


            <td class="hidden">@x.ID</td>

            <td>@x.Eposta</td>
            <td>@x.Sifre</td>

            <td><a href="/Admin/AdminGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>

            <td>@Html.ActionLink("Sil", "AdminSil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstediğinizden Emin misiniz?')" })</td>

        </tr>
    }
</table>

