@using CvSitesi.Models
@model List<Sertifika>
@{
    Layout = null;
}
@foreach (var x in Model)
{

    <div class="carousel-item">
        <img src="@x.SImage" class="d-block w-100" alt="..." style="height:400px;">
        <div class="carousel-caption d-none d-md-block  ">
            <div class="bg-light">


            </div>

            <a target="_blank" href="@x.SLink"><button type="button" class="btn btn-secondary">Sertfika'ya git</button></a>
        </div>
    </div>
}
